[build-system]
requires = [
    "setuptools",
    "versioningit",
]
build-backend = "setuptools.build_meta"

[tool.versioningit]

[tool.ruff]
line-length = 119
exclude = ["yammbs/_tests/**/*.py"]

[tool.ruff.lint]
ignore = ["D105", "D107"]
select = ["D", "F", "E", "W", "NPY", "UP", "I"]
