name: ci

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
  workflow_dispatch:
  schedule:
    - cron: "1 0 * * *"

defaults:
  run:
    shell: pixi run bash -e {0}

jobs:
  test:
    name: Test on ${{ matrix.os }}, ${{ matrix.environment }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        environment:
          - py311
          - py312

    env:
      OE_LICENSE: ${{ github.workspace }}/oe_license.txt

    steps:
    - uses: actions/checkout@v6

    - name: Set up virtual environment
      uses: prefix-dev/setup-pixi@v0.9.3
      with:
        pixi-version: v0.41.4
        environments: ${{ matrix.environment }}

    - name: Install PASCAL Compiler (MacOS)
      if: startsWith(matrix.os, 'mac')
      run: brew install fpc

    - name: Install PASCAL Compiler (Ubuntu)
      if: startsWith(matrix.os, 'ubuntu')
      run: sudo apt-get install fp-compiler

    - name: Install checkmol
      run: |
        curl https://homepage.univie.ac.at/norbert.haider/download/chemistry/checkmol/checkmol.pas > checkmol.pas
        fpc checkmol.pas -S2

        echo $(pwd) >> $GITHUB_PATH

    - name: Install and license OpenEye Toolkits
      run: |
        echo "${SECRET_OE_LICENSE}" > ${OE_LICENSE}
        pixi run -e ${{ matrix.environment }} python -c "from openeye import oechem; assert oechem.OEChemIsLicensed()"
      env:
        SECRET_OE_LICENSE: ${{ secrets.OE_LICENSE }}

    - name: Run mypy
      run: pixi run -e ${{ matrix.environment }} run_mypy

    - name: Run tests
      run: pixi run -e ${{ matrix.environment }} run_tests

    - name: CodeCov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.xml
